<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Booking</title>
</head>
<body>
<div class="container ">
    <div class="row">
        <div class="col-sm-6">
            <form method="post" action="/Booking/{{.Book_id}}/Booking">
                <input type="hidden" name="User_id" value="1">
                <input type="hidden" name="Book_id" value="{{.Book_id}}">
                <div class="form-group">
                    <label>Start Time</label>
                    <input class="form-control"  name="ST" type="datetime-local"  />
                    <small class="text-danger">{{.Errors.start_time}}</small>
                </div>
                <div class="form-group">
                    <label>End Time</label>
                    <input class="form-control"  name="ET" type="datetime-local"  />
                    <small class="text-danger">{{.Errors.end_time}}</small>
                </div>

                <button type="submit" class="btn btn-primary">Booking Now</button>
            </form>
        </div>
    </div>
</div>

</body>
<script>
    var select = document.getElementById('catselect');
    var catID = document.getElementById('Cat_ID').value;
    var option;

    for (var i=0; i<select.options.length; i++) {
        option = select.options[i];

        if (option.value == catID) {
            option.setAttribute('selected', true);
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>